<!DOCTYPE html>
<html>
<head>
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class = "main">
    <div class = "header">
        <div class = "logo">
            <img src="images/logo.png" height = "150px" width = "200px">
        </div>
        <div class = "nav-menu">
            <ul>
                <a href = "main"><li>About</li></a>
                <% if(userInfo != undefined){ %>
                <a href = "account"><li>account</li></a>
                <% } %>
                <% if(userInfo == undefined){ %>
                <a href="login"><li>Login</li></a>
                <% } %>
                <a href="store"><li>Store</li></a>
            </ul>
        </div>
    </div>
    <div class = "content">
        <div class = "links_to_playlists">
            <ul>
                <a href="my_playlists"><li>My Playlists</li></a>
                <a href="bought_playlists"><li>Bought Playlists</li></a>
            </ul>
        </div>
        <div class = "displayData">
            <%  if(ydata != undefined){ for(var i = 0;i< ydata.items.length;i++){%>
                <div class = "playlist">
                    <div class = "sell">SELL</div>
                    <a href="playlist_page/<%= ydata.items[i].id %>">
                        <img src = "<%= ydata.items[i].snippet.thumbnails.medium.url %>">
                        <div class = "playlist_title"><%= ydata.items[i].snippet.title %></div>
                    </a>
                </div>
            <%  } }%>
        </div>
    </div>
    <div class = "footer">
        all rights are reserved
    </div>
</div>
</body>
</html>